*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
    /* perspective: 800px; */
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: #96c11e38;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}

#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center; /*to center from y-exes*/
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img{
    height: 75px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    /* background-color: red; */
}

#page1 h1{
    font-size: 100px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before{
    content: "EAT.DRINK.PLAY.";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 10;
}

#page1 p{
    font-size: 14px;
    font-weight: 500;
    width: 40%;
}

#page2{
    min-height: 100vh;
    width: 100%;
}

#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar{
    display: none;
}


/* animation in scroll in  */
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/* scroller/merque line css */
#scroller h4{
    display: inline-block;
    font-size: 111px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
    color: transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke: 2px #95C11E;
    text-transform: uppercase;
}

/* scroller H4 hover css */
#scroller h4:hover{
    color: #95C11E;
}


/* animation to scroll the text of marque line or scroller*/
@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* abouts us container */
  #about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 88px;
    display: flex;
    padding:  0 50px;
    align-items: center;
    justify-content: space-around;
  }

  /* about us image css */
  #about-us img{
    height: 222px;
    width: 222px;
    border-radius: 20px;
    object-fit: cover;
  }

  /* about us design content */
  #about-us-in{
    width: 50%;
    text-align: center;
  }

  /* abouts us header design */
  #about-us-in h3{
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 40px;
  }

  /* abouts us paragraph design */
  #about-us-in p{
    font-size: 14px;
    line-height: 22px;
  }

  #cards-container{
    /* background-color: red; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
  }

  .card{
    height: 80%;
    width: 22%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
  }

  #card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }

  #card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }

  #card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }

  /* contains the cards hidden title and para details */
  .overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 30px;
    padding-top: 111px;
    opacity: 0;
    transition: all ease 0.6s;
  }

  .overlay h4{
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .overlay p{
    color: #000;
    font-size: 11px;
  }

  /* display cards hidden title and detail when hover  */
  .card:hover .overlay{
    opacity: 1;
  }

  /* titlede effect on cards */
  .card:hover{
    transform: rotate3d(-1,1,0,20deg);
  }

  #green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom,#09ff00,#95C11E);
  }

  #green-div h4{
    width: 44%;
    line-height: 40px;
    text-align: center;
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
  }

  #green-div img{
    height: 100%;
    object-fit: cover;
    width: 11%;
  }